:root {
	--fg: #009FE3;
	--hl: #E50051;
	--bg: #340046;
	--link: #fcbf00;
	font-size: 16px;
	font-family: sans-serif;
}

/************************************************
 * Colours
 ************************************************/
BODY {
	background-color: var(--bg);
	background-image: url("/assets/img/favicon.svg"), url("/assets/img/favicon-bars.svg");
	background-repeat: no-repeat, repeat-x;
	background-size: 50px;
	padding-top: 50px;
	color: var(--fg);

	A, A:visited {
		color: var(--link);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
HEADER {
	H1 {
		color: var(--hl);
		font-size: 2em;
		margin: 0.5em 0;
	}
}
NAV {
}
ARTICLE {
	H2 {
		color: var(--hl);
		font-size: 1.5em;
		margin: 0.5em 0;
	}
}
FOOTER {
	border-top: 1px solid var(--fg);
	margin-top: 2em;
	padding-top: 0.5em;
	text-align: center;
}

/************************************************
 * Wide Layout
 ************************************************/
@media (min-width: 801px) {
	BODY {
		display: grid;
		grid-template-columns: 12em 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 
		"x      header"
		"nav    article"
		"footer footer";
		HEADER {
			grid-area: header;
		}
		NAV {
			grid-area: nav;
		}
		ARTICLE {
			grid-area: article;
		}
		FOOTER {
			grid-area: footer;
		}
	}
}

/************************************************
 * Narrow Layout
 ************************************************/
@media (max-width: 800px) {
	BODY {
		NAV {
			UL {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0;
				padding: 0;
				LI {
					list-style-type: none;
					A {
						display: block;
						padding: 0.4em;
						text-align: center;
						width: 100%;
					}
				}
			}
		}
	}
}